*{
  font-family: 'Spartan', sans-serif;
}
body{
  background-image: url("images/bg-pattern-top-mobile.svg");
  background-repeat: no-repeat;
}
.container{
  width: 375px;
  margin: auto;
  margin-top: 40px;
}
.love-products{
  margin-bottom: 20px;
}
.user-num{
   color: hsl(300, 43%, 22%);
   font-size: 30px;
   font-weight: 700;
   text-align: center;
   padding: 15px 40px;
}
.description{
  color: hsl(303, 10%, 53%);
  text-align: center;
  padding: 5px;
  font-weight: 400;
}
.rate-container{
  width: 375px;
  background-color: hsl(300, 24%, 96%);
  border-radius: 15px;
  height: 70px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-bottom: 30px;
  color: hsl(300, 43%, 22%);
  font-weight: 700;
  padding-bottom: 10px;
}
.stars{
  margin: 10px 5px;
}
.comments-container{
  background-color:  hsl(300, 43%, 22%);
  padding: 35px;
  margin-bottom: 20px;
  border-radius: 15px;
  color: #fff;
  display: flex;
  flex-direction: column;
  line-height: 1.9;
}
.name{
  color: #fff;
  font-weight: 500;
  font-size: 15px;
  display: inline-block;
}
.name span{
  color: hsl(333, 80%, 67%);
}
.comments-container img{
  border-radius: 50%;;
  width: 65px;
  height: 65px;
  margin-right: 20px;
}
.comments div{
  display: flex;
  align-items: center;
  justify-content: flex-start;
  width: 305px;
}

@media only screen and (min-width: 426px){
  *{
    overflow: hidden;
  }
  .container{
    margin: 0;
    width: 100vw;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    padding: 80px;
  }
  body{
    background-image: url("images/bg-pattern-top-desktop.svg");
    background-repeat: no-repeat;
  }
  .love-products{
    width: 600px;
    height: 50vh;
    position: relative;
    top: -30px;
    left: -60px;
  }
  .rate{
    width: 600px;
    height: 50vh;
    display: flex;
    align-content: center;
    justify-content: center;
    flex-wrap: wrap;
    position: relative;
    top: -30px;
    left: -60px;
  }
  .user-num{
    text-align: start;
    font-size: 50px;
    padding: 0;
    padding-right: 50px;
    margin-bottom: 30px;
  }
  .description{
    text-align: start;
    padding: 0;
    padding-right: 50px;
  }
  .rate-container{
    width: 400px;
    height: 50px;
    flex-direction: row;
    padding-bottom: 0;
    justify-content: flex-start;
    padding-left: 20px;
  }
  .stars{
    margin-right: 20px;
  }
  .reviews{
    position: absolute;
    top: 20px;
    left: 0;
  }
  .guru{
    position: absolute;
    top: 100px;
    left: 40px;
  }
  .tech{
    position: absolute;
    top: 180px;
    left: 80px;
  }
  .comments{
    position: relative;
    width: 100%;
    height: 50vh;
    top: -90px;
    z-index: 1000;
  }
  .colton{
    position: absolute;
    top: 0px;
    left: 0;
    width: 450px;
    border-radius: 7px;
    padding: 20px;
    font-size: 12px;
  }
  .irene{
    position: absolute;
    top: 15px;
    left: 400px;
    width: 450px;
    border-radius: 7px;
    padding: 20px;
    font-size: 12px;
  }
  .anne{
    position: absolute;
    top: 30px;
    left: 800px;
    width: 450px;
    border-radius: 7px;
    padding: 20px;
    font-size: 12px;
  }
}